</main>

<footer>
  <p>&copy; 2024 EasyWrites. All rights reserved.</p>
  <p><ul id="logo">
    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>
  <br></p>
</footer>

</body>

</html>