<%- include("partials/header.ejs") %>
<div class="landing-page">
  <div class="content">
      <h1><span>Welcome to EasyWrites</span></h1>
      <p>"<span>Embark</span> on a journey of words, where every story finds its voice and every voice tells a tale."</p>
      <a href="/create" class="explore-button">Create Blog </a>
  </div>
</div>
  <%- include("partials/footer.ejs") %>